._button_default {
    padding: 1rem;
    width: 10rem;
    border: transparent;
    border-radius: 0.5rem;
    margin: 0 0.5rem;

}

._button_cart {
    background: var(--primary-color);
    color: var(--white);
    width: 50%;
}
