._aside_user {
    width: 25vw;
    height: 70vh;
    background: var(--secondary-color-three);
    position: absolute;
    right: -25vw;
    opacity: 0;
    top: 6rem;
    transition: all 0.5s;
    z-index: 1;
}

._aside_user_visible {
    opacity: 1;
    right: 0;
}

._close_user {
    position: absolute;
    left: 0.5rem;
    background: var(--primary-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 2rem;
    margin: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    ._aside_user_visible {
        width: 90vw;
    }
    
}