@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;700&display=swap');

:root {
  --blue: #18A0FB;
  --green: rgb(2, 145, 158);
  --black: #393E46;
  --black_gray: #6B6B6B;
  --gray: #EEEEEE;
  --white: #FFFFFF;
}

html {
font-size: 62.5%;
scroll-behavior: smooth;
overflow-x: hidden;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
 outline: none;
 border: transparent;
}
